* {
    margin: 0;
    padding: 0;

}

html, body {
    height: 100vh;
    width: 100vw;
}

body {
       background-color: black;
 background-image: url('../assets/fundo-madeira.jpg');
 background-repeat: no-repeat;
 background-position: top center;
 background-size: cover;
 background-attachment: fixed;
}

main {
    position: relative;
    height: 100vh;
}

#phone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url('../assets/frame-iphone.png');
    height: 627px;
    width: 311px;
}
iframe#screen{
    position: relative;
    left: 22px;
    top: 80px;
    width: 269px;
    height: 471px;

}
#socialMedia{
    text-align: justify;
    
}
#socialMedia img{
height: 50px;
border-radius: 10px;
box-shadow: 2px 2px 5px black;
box-sizing: border-box;
margin: 10px;
transition-duration: 500ms ;
}

#socialMedia a img:hover{
    height: 60px;
    border: 2px solid lightslategray;
    box-shadow: 5px 5px 10px black;
    transition-duration: 500ms ;
transform: translate(-3px,-3px);

}